.banner {
  background-image: linear-gradient(to right, #635dc0, #3027ae);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner h1 {
  margin: 5vmax;
  font: 600 2.5vmax 'Roboto';
}

.banner p {
  font: 300 1.4vmax 'Lucida Sans';
}

.banner button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.3s;
  width: 9vmax;
  font: 500 1vmax 'Roboto';
}

.banner button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: '';
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.home-heading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

/* Product styles */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmax auto;
  width: 80vw;
  max-width: 100%;
  justify-content: center;
}

.product-card {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.product-card img {
  width: 14vmax;
}

.stars-container {
  margin: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-container > span {
  margin: 0.5vmax;
  font: 300 0.7vmax 'Roboto';
}

.product-card > p {
  font-family: 'Roboto';
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.product-card > span {
  margin: 0.5vmax;
  color: tomato;
  font-size: 1vmax;
}

.product-card:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .product-card p {
    font-size: 1.7vmax;
  }

  .product-card div {
    margin: 0;
    display: block;
  }

  .product-card > span {
    font-size: 1.5vmax;
  }

  .stars-container > span {
    margin: 0 0.5vmax;
    font: 300 1vmax 'Roboto';
  }
}
